html {

}
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 1.5vw;
    font-weight: normal;
}
* {
    box-sizing: border-box;
}
.wrapper {
    
}
.container {
    margin: 0 auto;
    width: 92%;
    max-width: 65em;
}

.header {
    padding-top: 2em;
    height: 30em;
    max-height: 100vh;
    overflow: hidden;
    background-image: url("../images/main-bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: #fff;
}
.header-inner {
    display: flex;
    align-items: center;
}
.header-logo {

}
.header-nav-mobile {
    display: none;
    margin-left: auto;
}
.header-nav-mobile .nav-icon {
    font-size: 2em;
}
.header-nav-mobile input[type=checkbox] {
    display: none;
}
.header-nav-mobile input[type=checkbox]:checked + ul {
    max-height: 15em;
}
.header-nav-mobile ul {
    list-style: none;
    position: absolute;
    right: 0;
    width: 45%;
    min-width: 15em;
    max-height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    background-color: #fff;
}
.header-nav-mobile ul li {
    
}
.header-nav-mobile ul li a {
    display: block;
    padding: 0.5em 0;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #333;
    color: #333;
}
.header-nav {
    flex: 100;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
.header-nav li {
    display: inline-block;
    margin: 0 1.5em;
}
.header-nav li a {
    transition: all 0.3s;
    text-decoration: none;
    color: #fff;
}
.header-nav li a:hover {
    text-shadow: 0 0 0.1em rgba(255, 255, 255, 0.6);
    color: #ffc200;
}
.header-search {
    margin-left: auto;
    padding-left: 4em;
}

.header-content {
    margin-top: 5em;
    margin-left: 28em;
    margin-right: 7em;
}
.header-content h1 {
    margin: 0 0 0.7em 0;
    font-size: 3em;
    font-family: "Bodoni Moda", sans-serif;
    line-height: 1.2;
    color: #ffc200;
}
.header-content p {
    margin: 2em 0;
    line-height: 1.5;
}
.header-content a {
    font-weight: 500;
}

/** Best seller **/
.section-best-seller {
    background-color: #fff;
}

.list-dishes {
    display: flex;
    margin: 3em 0 0 0;
    padding: 0;
    list-style: none;
}
.list-dishes li figure {
    margin: 0 2em;
}
.list-dishes li figure a {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}
.list-dishes li figure a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: all 0.3s;
}
.list-dishes li figure a:hover::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.list-dishes li figure a img {
    width: 100%;
}
.list-dishes li h3 {
    margin: 1em 0 0.5em;
    font-size: 1.2em;
}
.list-dishes li h3 a {
    text-decoration: none;
    transition: color 0.3s;
    color: #333;
}
.list-dishes li h3 a:hover {
    color: #ffc200;
}
.list-dishes li p {
    margin: 0.5em 0;
}

/** section-oriental-taste **/
.section-oriental-taste,
.section-chicken-grill {
    padding-top: 8em;
    padding-bottom: 2em;
    background-image: url(../images/bg-curve-top.png);
    background-repeat: no-repeat;
}
.section-oriental-taste-inner,
.section-chicken-grill-inner {
    display: flex;
    padding-left: 3em;
    padding-right: 3em;
}
.section-oriental-taste-pic,
.section-oriental-taste-content,
.section-chicken-grill-pic,
.section-chicken-grill-content {
    flex: 1;
}
.section-oriental-taste-pic,
.section-chicken-grill-pic {
    text-align: left;
}
.section-oriental-taste figure,
.section-chicken-grill figure {
    display: inline-block;
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
}
.section-oriental-taste figure img,
.section-chicken-grill figure img {
    width: 20em;
}
.section-oriental-taste-content h4,
.section-chicken-grill-content h4 {
    margin: 1em 0 0.5em;
}
.section-oriental-taste-content p,
.section-chicken-grill-content p {
    margin: 1em 0;
    line-height: 1.3;
    text-shadow: 0 0 0.1em #000;
    color: #fff;
}
.section-oriental-taste-content .btn,
.section-chicken-grill-content .btn {
    display: inline-block;
    margin-top: 1em;
}

/** section section-statistics **/
.section-statistics {
    background-color: #303030;
    background-image: url("../images/bg-icons.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
}
.section-statistics .section-intro {
    color: #fff;
}
.statistic-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 0.2em solid #fff;
}
.statistic-item i,
.statistic-item span {
    display: block;
    font-style: normal;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}
.statistic-item i {
    font-size: 2em;
    color: #ffc200;
}
.statistic-item span {
    color: #fff;
}

/** section-chicken-grill **/
.section-chicken-grill {
    padding-top: 2em;
    padding-bottom: 8em;
    background-image: url(../images/bg-curve-bottom.png);
    background-size: cover;
    background-position: center 120%;
}
.section-chicken-grill-pic {
    text-align: right;
}

/** section-signature **/
.section-signature {
    position: relative;
    z-index: -2;
    padding: 10em 0;
    background-image: url("../images/bg-dish.png");
    background-size: cover;
    background-position: center;
    text-align: center;
}
.section-signature::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(236, 212, 80, 0.7);
}
.section-signature p {
    margin: 0 auto;
    width: 20em;
    line-height: 1.3;
    font-size: 1.5em;
}
.section-signature h4 {
    margin: 0.7em 0 0;
}
/** section-subscribe **/
.section-subscribe {
    padding: 6em 0;
    background-image: url("../images/bg-icons.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    text-align: center;
}
.section-subscribe h4 {
    margin: 0 0 0.5em 0;
}
.section-subscribe p {
    margin: 0 auto;
    width: 25em;
    line-height: 1.3;
}
.section-subscribe form {
    margin-top: 2em;
}
.section-subscribe .form-inner {
    display: flex;
    justify-content: center;
}
.section-subscribe form input,
.section-subscribe form .btn {
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}
.section-subscribe form input {
    padding: 0 0.5em;
    width: 17em;
    font-size: 1em;
}
.section-subscribe form input:focus {
    outline: none;
}
.section-subscribe form .btn {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/** section-footer **/
.section-footer {
    padding: 5em 0 2em;
    background-color: #303030;
    color: #fff;
}
.footer-cols {
    display: flex;
}
.footer-col {
    flex: 1;
    padding-right: 1em;
}
.footer-col.double-col {
    flex: 2;
    padding-right: 4em;
}
.footer-col h5 {
    margin: 0 0 1em;
    font-size: 1.3em;
}
.footer-col p {
    line-height: 1.3;
}
.footer-col p a {
    color: #fff;
}
.footer-col figure {
    margin: 0;
}
.footer-col ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-col ul li {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.footer-col ul li a {
    text-decoration: none;
    color: #fff;
}
.footer-col ul li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }
    .header {
        background-position: -8em top;
    }
    .header-nav,
    .header-search {
        display: none;
    }
    .header-nav-mobile {
        display: block;
    }

    .header-content {
        margin-left: 0;
        margin-right: 0;
    }
    .header-content h1,
    .header-content p {
        text-shadow: 0 0 0.1em #000;
    }

    .section-oriental-taste {
        padding-top: 2em;
    }
    .section-chicken-grill {
        padding-bottom: 2em;
        margin-bottom: 4em;
    }

    .section-oriental-taste-inner,
    .section-chicken-grill-inner {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .section-chicken-grill-inner {
        flex-direction: column-reverse;
    }
    .section-oriental-taste-pic,
    .section-chicken-grill-pic {
        text-align: center;
    }

    .statistic-item {
        font-size: 1.5em;
    }

    .section-signature p {
        width: auto;
    }
    
    .footer-cols {
        flex-direction: column;
    }
    .footer-col {
        margin-right: 0;
        margin-bottom: 2em;
    }
    .footer-col.double-col {
        margin-right: 0;
    }
}